<!-- Post Header -->
<style type="text/css">
    header.intro-header, .site-heading {
        <% if (is_home()) { %>
            background-image: url('<%= config.root + config["header-img"] %>') 
            /*config*/
        <%} else if (is_post()){%>
            background-image: url('<%= page["header-img"] %>')
            /*post*/
        <%} else {%>
            background-image: url('<%= config.root + page["header-img"] %>')
            /*page*/
        <%} %>
    }
</style>

<% if (is_post()) { %>
    <section class="post-heading">
      <h1><%= page.title %></h1>
      <h5 class="subheading"><%= page.subtitle || "" %></h5>
      <ul class="tags">
        <% page.tags.forEach(function(tag){ %>
          <li>
            <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
          </li>
        <% }) %>
      </ul>
    </section>
    <% } else { %>
    <header class="site-heading">
      <!--<hr class="small">-->
      <h1 class="subheading"><%= page.description || config.subtitle || "" %></h1>
    </header>
  <% } %>
