<!-- Navigation -->
<nav>
  <a class="title" href="<%= config.root %>"><%= config.title %></a>
  <ul>
    <li>
      <a href="<%= config.root %>">Home</a>
    </li>

    <% site.pages.forEach(function(page){ %>
      <% if(page.title){ %>
      <li>
        <a href="<%= config.root %><%= page.path.replace('index.html', '') %>"><%= page.title %></a>
      </li>
      <% } %>
    <% }); %>
  </ul>
</nav>
