<!-- Navigation -->
<nav>
  <i class="fa fa-bars remind"></i>
  <a class="title" href="<%= config.root %>"><%= config.title %></a>
  <ul class="normal">
    <li>
      <a href="<%= config.root %>">
        <i class="fa fa-home"></i>
        <span>home</span>
      </a>
    </li>

    <% site.pages.forEach(function(page){ %>
      <% if(page.title){ %>
      <li>
        <a href="<%= config.root %><%= page.path.replace('index.html', '') %>">
          <i class="fa <%= page.icon %>"></i>
          <span><%= page.title %></span>
        </a>
      </li>
      <% } %>
    <% }); %>
  </ul>
</nav>
<%- js('js/responsive.js') %>
