---
layout: page
---

<!-- 归档列表 -->

<% 
    var years = {};
    site.posts.sort('date').reverse().forEach(function(post){
        var year = post.date.year()
        if(years[year]===undefined){
            years[year] = [];
        }
        years[year].push(post);
    });
%>

    <!-- 归档列表 -->
<ol class="archive-list normal">
<% Object.keys(years).reverse().forEach(function(year){  %>
<li>
    <span class="tag fa fa-calendar-times-o listing-seperator" id="<%= year %>">
        <span><%= year %></span>
    </span>
    <ul>
    <% years[year].map(function(post){  %>
      <li>
        <span class="code-text"><%= post.date.format('MM/DD') %></span>
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        <a href="<%- config.root %><%- post.path %>">
          <span>
              <%- post.title || "Untitled" %>
          </span>
        </a>
      </li>
    <% }) %>
    </ul>
</li>
<% }) %>
</ol>